* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.player-details {
    position:absolute;
    z-index: 9;
    background:#04AA6D;
    top: 0;
}
div{
    background-color:beige;
    padding-right: 8px;
    border: 3px;
    margin: 40px;
    border-color: black;
    border-style: solid;
    text-align: left;
}
img{
    margin: 40px;
     width:170px;
     height:130px;
     border: 3px;
     padding: 1px;
     border-color: black;
      border-style: solid;
    }

input[type=text]:focus {
        background-color: lightblue;
    }
input[type=text] {
        border: 2px blue;
        border-radius: 4px;
        width:100%;
    }
button[type=submit]{
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
button{
    background-color:darkolivegreen;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration:solid;
    margin: 4px 2px;
    cursor: pointer;
}